priority 1
snippet main
#include <algorithm>
#include <functional>
#include <iostream>
#include <numeric>
#include <string>
#include <unordered_map>
#include <vector>

using namespace std;

int main() { return 0; }
endsnippet

priority 1
snippet print
cout << ${1} << endl;
endsnippet



priority 1
snippet for
for(int i = 0; i < ${1}; i++){

}
endsnippet

